<h1>Cadastre seu livro</h1>
<form action="/books/insertbook" method="post" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" id="title">
    </div>
    <div class="form-control">
        <label for="pages">Número de páginas</label>
        <input type="number" name="pages" id="pages">
    </div>
    <input type="submit" value="Cadastrar">
    <a href="/books">Consultar livros Cadastrados</a>
</form>