h1 {
    color: red;
    text-align: center;
}

/* NAVEGACAO */
nav {
    width: 100%;
    border-bottom:1px solid #ccc;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    list-style-type: none;
    padding: 10px 30px;
}

.form,
.books-container,
#book-page {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
    margin-bottom: .3em;
}

.form-control.form-checkbox {
    flex-direction: row;
}

.form-control input{
    padding: 5px;
}

.form-control.form-checkbox input{
    margin-right: 10px;
}


/*USERS*/
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
    align-items: center;
}

.container .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 29%;
    /* height: 75px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item h2,
.item p {
    margin-bottom: .8em
}

/*Botões*/

.actions {
    display: flex;
    justify-content: space-evenly;
}

.actions a,
.actions input {
    border: 1px solid #bbb;
    border-radius: 5px;
    text-decoration: none;
    background-color: #fff;
    padding: 5px;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}

.actions .details-btn{
    border-color: #004085;
    color: #004085;
}

.actions .delete-btn{
    border-color: #721c24;
    color: #721c24
}

/*Endereço*/
.address-container{
    width: 1000px;
    margin: 1em auto;
    padding-top: 1em;
    padding-bottom: 200px;
    border-top: 1px solid #ccc;
}

.address-container h2 {
    margin-bottom: 1em;
}

.address-container form {
    width: 300px;
}

.address-list {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}