<h1>Criação de task</h1>
<form action="/tasks/add" method="post">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="Cadastrar">
</form>